<%- include("header.ejs") -%>
    <div class="box" id="heading">
        <h1>
            Hey! Toaday's
            <%=listTitle %> !
        </h1>
    </div>
    <div class="box">
        <ul>
            <%   for(var i=0;i<newlistitems.length;i++){%>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%=newlistitems[i]%>
                    </p>

                </div>
                <%}%>
        </ul>
        <form class="item" method="POST" action="/">
            <input type="text" name="newitems" placeholder="New Item">
            <button type="submit" name="list" value=<%=listTitle %>>+</button></form>
    </div>

    <%- include("footer.ejs") -%>